body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.card{
background-color: white;
min-height: 80vh;
width: 30%;
margin: auto;
}
.card img{
    width: 100%;
    border-radius: 16px;
}
